body {
  margin-top:15vh;
  //bottom:50%;
}
/*Material icons*/

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px; /* Preferred icon size */
  display: inline-block;
  line-height: 4;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #003700;
  justify-content: center;
  align-items: center;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.bg-img {
  background-color: #235f26 !important;
  //opacity:0.5 !important;
}
.bg-danger {
  background-color: #bb9f8a !important;
}
.login {
  height: 1.2rem;
  color: blue;
  display: inline-block;
  background-color: green;
}
.pass {
  background-color: #00bbbb !important;
  //border-radius: 5px !important;
  color: #bb0033 !important;
}
.pass:hover {
  background-color: #40316c !important;
  //border-radius: 5px !important;
  color: #ffe1ea !important;
}

  //padding-bottom: 10px !important;


input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  padding: 5px 0 !important;
  background-color:#d7ffff !important;
  margin:1px 0 !important;
}
.img-fluid {
  height: 1em;
  margin-right: 12px;
}
.google {
  background-color: #00ffff;
  color: black;
  font-weight: bold;
}
.google:hover {
  background-color: #0b9ca8;
  color: black;
}
.facebook {
  background-color: #a6ffa6;
  color: #000000;
  font-weight: bold;
}
placeholder {
  font-size: 1.5em important;
}
.facebook:hover {
  background-color: #008fdd;
  color: black;
  font-weight: bold;
}
.horizontal-line {
  border: none;
  height: 1px;
  background-color: white;
  color: white;
}
.allowed {
  background-color: #04078c !important;
  font-size: 1.3rem;
}
.para {
  font-size: 1.2rem !important;
  font-family: sans-serif !important;
  font-weight: border !important;
}
.allowed:hover {
  background-color: #b00058 !important;
}


