body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: url(/images/Mbinglo\ fc.psd9.png);
  background-repeat: no-repeat;
  background-color: rgba(59, 70, 70, 0.9);
  background-size: cover;
  margin-top: 0px;
}
form {
  width: 350px;
  height: 370px;
  background-color: rgb(0, 255, 238);
  border-radius: 10px;
  box-shadow: 12px 2px 16px rgb(2, 2, 14);
  padding-top: 10px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  margin-top: 1px;
  padding: 8px;
  width: 80%;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  border-style: none;
  background: linear-gradient(
    270deg,
    rgba(0, 8, 255, 0.658),
    rgba(0, 0, 255, 0.847),
    rgba(8, 98, 194, 0.796)
  );

}
input[type="submit"] {
  width: 86%;
  height: 40px;
  border-radius: 10px;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(37, 5, 154, 0.937),
    rgba(29, 7, 153, 0.86),
    rgba(11, 11, 144, 0.799)
  );
  color: white;
  font-size: 23px;
  border-style: no;
}
input[type="submit"]:hover {
  background-color: rgb(0, 0, 0);
}
::placeholder {
  font-size: 20px;
  color: white;
}
.create {
  color: white;
  background: linear-gradient(
    150deg,
    rgb(14, 110, 56),
    rgb(28, 84, 46),
    rgb(8, 97, 64)
  );
  padding-right: 80px;
  width: 75%;
  padding-left: 80px;
  border-radius: 10px;
  font-size: 21px;
  padding-top: 8px;
  padding-bottom: 8px;
}
a:hover {
  background-color: rgba(38, 16, 165, 0.453);
}
h1 {
  text-align: center;
  color: rgb(2, 22, 35);
  margin-top: 0;
}
.logo {
  text-align: left;
  color: rgb(27, 7, 100);
  font-weight: bold;
  font-size: 2rem;
  border-radius: 5px;
}
.signup{
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 5px;
  color: rgb(18, 4, 106);
  float: right;
  padding-right: 40px;
}
  ul li {
  list-style-type: none;
  display: inline-block;
}
header {
  background-color: rgb(0, 255, 238);
  margin-top: 0px;
  padding: 10px;
  width: 100%;
}
p {
  color: rgb(11, 53, 19);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}