{% load static %}
{% load crispy_forms_tags %}
{% load social_share %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,800;1,900&family=Oswald:wght@400;500&display=swap"
      rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Unna&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
      id="bootstrap-css">

    <title>MBINGLO-FC</title>
  </head>

  <body style='background-color:#01011f;'>
    <!--section navbar-->
    <section>
      <nav class="navbar navbar-expand-lg navbar-dark py-0 px-3 fixed-top" style="background-color:#020233;">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <a class="navbar-brand" href="/"><!--img style="border-radius: 5%;" width="100" height="50" src="{% static 'images/logo.jpg' %}" alt=""-->MBINGLO FC</a>
          <div class="collapse navbar-collapse justify-content-center my-2" id="navbarSupportedContent">
            <!--form action="{% url 'index' %}" method="post">
              {% csrf_token %}
              <input type="search" class="px-2 py-1 mx-2 rounded" name="q" id="search" placeholder="Seach here...">
              <button type="submit" class="mx-2 py-1 btn-primary rounded">search</button>
            </!--form-->
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
              <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
              <li class="nav-item"><a class="nav-link" href="#matches">Matches</a></li>
              <li class="nav-item"><a class="nav-link" href="#result">Result/Features</a></li>
              <li class="nav-item"><a class="nav-link" href="#gallery">Gallery</a></li>
              <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
              <li class="nav-item"><a class="nav-link" href="/settings"><span class="material-symbols-outlined">settings</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
              <li class="nav-item bg-danger rounded"><a class="nav-link active p-2" href="/login"><span class="material-symbols-outlined">logout</span>Log out</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </section><br><br><br>
    <!--End of Navbar-->

    <!--bootstrap couresel-->
    <!--end of couresel-->
    <section>
      <div class="container my-2 shadow">
        <div class="col-md-12 justify-content-center align-items-center">
          <!--img class="img-fluid rounded mlogo justify-content-center" style="width: 100%;" src="{% static 'images/Mbinglo.jpg' %}"
              alt=""-->
        </div>
      </div>
    </section>


    <section class="align-items-center justify-content-center" id="">
      <header class="justify-content-center align-items-center">
        <div class="justify-content-center align-items-center">
          <h2 class="text-center font-weight-bold p-6 shadow diff" id="head">
            <em class="shadow">MBINGLO FOOTBALL CLUB</em>
          </h2>
        </div>
      </header>
    </section>

    <!--Section About-->
    <section id="about" class="pb-3" style="background-color: #172411;">
      <div class="section-title mx-0 text-center" data-aos="fade-up">
        <h2 class="pt-4 px-4 text-white"><em>About</em></h2>
        <p class="px-4"><em>Check more about us</em></p>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 rounded m-3 text-light shadow" style="background-color: #1a2828;">
            <div class="m-2 fs-5">
              <h2 class="text-center text-white p-3">Our story</h2>
              <p class="fs-5 about">Welcome to <strong>MBINGLO FC</strong>! We are a passionate
                group of individuals dedicated to nuturing young and talented
                in their football journey. Our team was created in 2017 by <strong>Fonban Rodrick</strong>
                alias <strong>Shey Mbinglo.</strong>It was created with the sole purpose of providing
                a platform for young, aspiring footballers to grow, develop their skills,
                and persue their dreams in the world of Football!
              </p>
              <hr class="go">
              <h3 class="text-white text-center m-4">Founders</h3>
              <div class="container d-flex shadow founder" style="background-color: #0b3331;">
                <div class="row">
                  <div class="col-md-6">
                    <h3 class="m-4 text-center text-white"><strong>Shey Mbinglo</strong></h3>
                    <img class="img-fluid h-200" src="{% static 'assets/img/romarick.jpeg.png' %}" alt="">
                    <p class="text-white fs-4 p-3 text-center">Team CEO</p>
                  </div>
                  <div class="col-md-6">
                    <h3 class="m-4 text-center text-white"><strong>Shey Mbinglo</strong></h3>
                    <img class="img-fluid h-200" src="{% static 'assets/img/romarick.jpeg.png' %}" alt="">
                    <p class="text-white p-3 fs-4 text-center">Team Manager</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 rounded m-3 pb-4 text-white shadow" style="background-color:  #1a2828;">
            <h2 class="text-center text-light p-3">Our Mission</h2>
            <p class="about">The primary aim of <em>MBINGLO FC</em> was to promote the general wellbeing
              of the young and talented players to grow and at the same time to enhance their Technical,
              Tactical, physical and social skills that are typically of football.
            </p>
            <p>Bellow are some of the missions of MBINGLO FC</p>
            <ul style='list-style-type: ' class="fa fa-arrow-right">
              <li>To inspire and encourage young talented players to grow in the world of football</li>
              <li>To bring people together as one.</li>
              <li>It brings about team work, discipline and supporting each other which is the key for good society</li>
              <li>It brings good behavior for better society just like many other sports played in our community</li>
            </ul>
          <img class="img-fluid h-200" src="{% static 'assets/img/football1 (5).jfif' %}" alt="">
          </div>
        </div>
      </div>
    </section>

    <!--Blog content-->
    <section id="blog" style="background-color: #1e1e1e;">
      <div class="section-title m-0 text-center">
        <h2 class="text-white mx-5 px-5"><em>Blog</em></h2>
        <p class="text-white px-5"><em>Check Out Our Blog</em></p>
      </div>
      <div class="container shadow pb-2">
        <div class="row">
          {% for post in BlogPosts reversed %}
          <div class="col-lg-4 col-md-6 my-3 shadow" style="border-radius:10px; background-color:#041514; border: none;">
            <div class="mx-1" style="border: solid 1px #fff;">
              <h3 class="posts mt-2 text-center"><strong>{{ post.title }}</strong></h3>
            <img src="{{ post.image.url }}" alt="" width="100%" height="200" class="img-fluid mt-3" />
            <div class="my-4 p-2" style="border-radius:10px; background-color:#030e0e;" id="description">
              <img class="img-fluid rounded-circle float-left m-2" src="{{ user_profile.profileimg.url }}" alt="">
              <h4 class="text-white text-center"><em>{{ post.author1 }}</em></h4>
              <p class="text-white font-weight-bold text-center"><em>{{ post.date }}</em></p>
              <p class="mt-2 p-3 text-white m-0 blog33">
                {{ post.content }}
              </p>
            </div>
            <div class="justify-content-center d-flex">
              <span><button class="fas fa-share btn btn-secondary justify-content-center text-white text-center mr-2" style=" margin-bottom: 2em; align-items: center; justify-content: center; background-color: #070e63;">
                Read More</button></span>
              <span><button class="btn btn-secondary justify-content-center text-white text-center" style="margin-bottom: 2em; align-items: center; justify-content: center; background-color: #070e63;">
                <span class="material-symbols-outlined " style="height: 20px;">forward</span>
                share</button></span>
            </div>
            </div>
          </div>
          {% endfor %}
          <!--Writing comments-->
          
          <!--div class="col-lg-4 col-md-6 mb-4 shadow">
            <h3 class="posts mt-2 text-center"><strong>Second Blog</strong></h3>
            <img src="{% static 'assets/img/football1 (2).jfif' %}" alt="" class="img-fluid mt-3 image" />
            <div class="my-4 p-2" style="border-radius:10px; background-color:rgb(4, 107, 107);" id="description">
              <img class="img-fluid rounded-circle float-left m-2" src="{% static 'assets/img/romarick.jpeg.png' %}" alt="">
              <h4 class="text-white m-0">Romarick Ndzelen</h4>
              <p class="text-white font-weight-bold m-0">1st March 2023</p>
              <p class="mt-2 p-3 text-white blog33 m-0">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Accusantium debitis quisquam blanditiis? Placeat quisquam culpa
                quasi laboriosam porro amet voluptatibus.
              </p>
            </div>
          </!--div>

          <div class="col-lg-4 col-md-6 mb-4 shadow">
            <h3 class="posts mt-2 text-center"><strong>Third Blog</strong></h3>
            <img src="{% static 'assets/img/football1 (3).jfif' %}" alt="" class="img-fluid mt-3 image" />
            <div class="my-4 p-2" style="border-radius:10px; background-color:rgb(4, 107, 107);" id="description">
              <img class="img-fluid rounded-circle float-left m-2" src="{% static 'assets/img//romarick.jpeg.png' %}" alt="">
              <h4 class="text-white m-0">Romarick Ndzelen</h4>
              <p class="text-white font-weight-bold m-0">1st March 2023</p>
              <p class="mt-2 p-3 text-white blog33 m-0">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Accusantium debitis quisquam blanditiis? Placeat quisquam culpa
                quasi laboriosam porro amet voluptatibus.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 shadow">
            <h3 class="posts mt-2 text-center"><strong>Fourth Blog</strong></h3>
            <img src="{% static 'assets/img//football1 (4).jfif' %}" alt="" class="img-fluid mt-3 image" />
            <div class="my-4 p-2" style="border-radius:10px; background-color:rgb(4, 107, 107);" id="description">
              <img class="img-fluid rounded-circle float-left m-2" src="{% static 'assets/img/romarick.jpeg.png' %}" alt="">
              <h4 class="text-white m-0">Romarick Ndzelen</h4>
              <p class="text-white font-weight-bold m-0">1st March 2023</p>
              <p class="mt-2 p-3 text-white blog33 m-0">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Accusantium debitis quisquam blanditiis? Placeat quisquam culpa
                quasi laboriosam porro amet voluptatibus.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 shadow">
            <h3 class="posts mt-2 text-center"><strong>Firth Blog</strong></h3>
            <img src="{% static 'assets/img/football1 (5).jfif' %}" alt="" class="img-fluid mt-3 image" />
            <div class="my-4 p-2" style="border-radius:10px; background-color:rgb(4, 107, 107);" id="description">
              <img class="img-fluid rounded-circle float-left m-2" src="{% static 'assets/img/romarick.jpeg.png' %}" alt="">
              <h4 class="text-white m-0">Romarick Ndzelen</h4>
              <p class="text-white font-weight-bold m-0">1st March 2023</p>
              <p class="mt-2 p-3 text-white blog33 m-0">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Accusantium debitis quisquam blanditiis? Placeat quisquam culpa
                quasi laboriosam porro amet voluptatibus.
              </p>
            </div>
          </div>

          <div-- class="col-lg-4 col-md-6 mb-4 shadow">
            <h3 class="posts mt-2 text-center"><strong>Sixth Blog</strong></h3>
            <img src="{% static 'assets/img/football1 (6).jfif' %}" alt="" class="img-fluid mt-3 image" />
            <div class="my-4 p-2" style="border-radius:10px; background-color:rgb(4, 107, 107);" id="description">
              <img class="img-fluid rounded-circle float-left m-2" src="{% static 'assets/img/romarick.jpeg.png' %}" alt="">
              <h4 class="text-white m-0">Romarick Ndzelen</h4>
              <p class="text-white font-weight-bold m-0">1st March 2023</p>
              <p class="mt-2 p-3 text-white blog33 m-0">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Accusantium debitis quisquam blanditiis? Placeat quisquam culpa
                quasi laboriosam porro amet voluptatibus.
              </p>
            </div>
          </div-->
        </div>

        
        <div class="row justify-content-center">
          <div class="col-md-5 text-white pt-3" style="background-color:  #030e0e;">
            <h5 class="text-white text-center">Comments</h5>
            <div class="name">
              <div>
                <p><strong>Your Name</strong></p>
              </div>
              <div class='ml-2'>
                <p>Wow this is awesome website for football Team. congratulations Mbinglo Fc</p>
              </div>
            </div>
          </div>

          <!--Comment form-->
          <div class="comment m-2 p-4 text-white text-center justify-content-center col-md-5" style="background-color: #030e0e;">
            <form class="my-2 my-lg-0 text-center" action="" method="post">
              {% csrf_token %}
              <input type="text" name="person" class="my-4 form-control" id="text" placeholder="Enter your name...">
              <textarea name="comment" type="text" row='5' class="my-3 p-3" style="width: 100%; height: 100px;" placeholder="Leave a comment here...."></textarea>
              <input class="btn btn-outline-success text-light form-control my-4" type="submit" value='comment' />
            </form>
          </div>
        </div>
        <!--end of comment-->

        <div class="d-flx justify-conent-center my-3 text-center text-white">
          <span><button style="background-color: #01291e;" class="fs-4 btn-lg text-white">Load More</button></span>
        </div>
      </div>
    </section>
    <!--End of Blog-->

    <!--Upcoming Matches-->
    <section id="matches" class="shadow mt-2">
      <div class="section-title text-center" data-aos="fade-up">
        <h2 class="px-5"><em>Matches</em></h2>
        <p class="px-5"><em>Check our upcoming matches</em></p>
      </div>
      <div class="container developero shadow">
        <div class="row shadow mb-4 footer justify-content-center">

          {% for match in Matches %}
          <div class="col-md-4 my-3 py-3 text-center shadow-lg man text-white rounded" style="background:#01291e; font-family: 'Unna', serif; border:3px solid #070244;
              font-style:italic;">
            <p class='shadow p-2' style='background-color:#0b1512;'>{{ match.match_date }}</p>
            <hr class="goe shadow" style='background-color:#fff;'>
            <h3 class='shadow p-2' style='background-color:#0b1512;'><em>{{ match.team1 }}</em></h3>
            <h4>vs</h4>
            <h3 class='shadow p-2' style='background-color:#0b1512;'><em>{{ match.team2 }}</em></h3>
            <p class='shadow p-2' style='background-color:#0b1512;'> {{ match.time }}</p>
          </div>
          {% endfor %}
          <!--div class="col-md-3 my-3 mx-1 py-3 text-center shadow man text-white" style="background:#01291e; font-family: 'Unna', serif;
              font-style:italic;">
            <p>20-12-2023</p>
            <p> 3:00 pm</p><hr class="goe" style='background-color:#fff;'>
            <h3><em>MBINGLO FC</em></h3>
            <h4>vs</h4>
            <h3><em>YOUNG STARS</em></h3>
          </!--div>
          <div-- class="col-md-4 my-3 mx-1 py-3 text-center shadow man text-white" style="background:#01291e; font-family: 'Unna', serif;
              font-style:italic;">
            <p>20-12-2023</p>
            <p> 3:00 pm</p><hr class="goe" style='background-color:#fff;'>
            <h3><em>MBINGLO FC</em></h3>
            <h4>vs</h4>
            <h3><em>YOUNG STARS</em></h3>
          </div-->
        </div>
        <div class="d-flx justify-conent-center my-3 text-center text-white">
          <span><button class="fs-4 btn-lg text-white mb-3" style="background-color: #0b1512; color:white;">Load More</button></span>
        </div>
      </div>
    </section>
    <!--End of matches-->

    <!--Result/Features-->
    <section class="result" id="result">
      <div class="section-title text-center" data-aos="">
        <h2 class="px-5"><em>Results/Features</em></h2>
        <p class="px-5"><em>Check out our Results</em></p>
      </div>
    </section>
    <section style="background-color: #121212;" class="shadow py-3">
      <div class="container-fluid">
        <div class="row justify-content-center align-content-center mx-4 shadow my-3 py-5" style="border:solid 1px white; background-color: #06141a;">
          {% for value in Result %}
          <div class="col-md-6">
            <div class="shadow" style="background-color: #3f184e;">
              <div class="px-1 mt-2" style="background-color: #1b6878; border-bottom:solid 1px white;">
                <h3 class="text-white text-center p-2">{{ value.competition_name }}</h3>
              </div>
              <div class="rounded-bottom">
                <h3 class="text-white text-center pt-2">Results of the Match on</h3>
                <h4 class="text-white text-center">{{ value.date }} </h4>
              </div>
              <div class="d-flex justify-content-center align-content-center">
                <h5 class="text-white text-center px-1 py-1">@{{ value.team1 }}</h5>
                <div class="text-center text-white px-1 justify-content-center" style="background-color: #07125f; width: 100px; height:20%; align-items:center;">{{ value.scores}} : {{ value.score2}}</div>
                <h5 class="text-white text-center px-1 pt-1 pb-3">@{{ value.team2 }}</h5>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="d-flx justify-conent-center mb-3 text-center">
          <span><button class="fs-4 btn-lg text-white btn btn-outline-primary">Load More</button></span>
        </div>
      </div>
    </section>
    <!--Result/Features-->

    <!--Back to top button-->
    <button onclick="topFunction()" id="myBtn" style='z-index: 1500;' title="Go to top"
      class="justify-content-center text-center">&uparrow;</button>

    <section class="shadow" style="background-color: #0c100f;">
      <div class="section-title text-center" data-aos="fade-up">
        <h2 class=""><em>contact</em></h2>
        <p class=""><em>Contact us</em></p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 shadow-lg mr-4 my-3 ml-2 p-4 text-white" style="background-color: #181f1d;">
            <h4 class="text-center">contact us</h4>
            <p class="text-center"><em>MBINGLO FC</em></p>
            <h5 class="text-center"><em>Bamenda-Cameroon</em></h5>
            <p class="text-center"><em><a href="mailto:ndzelenromarick@gmail.com"><img style='width:40px; border-radius:20px;'class='mr-2' src="{% static 'assets/img/email.png' %}" alt="">Email us</a></em></p>
            <p class="text-center"><em><a href="https://wa.me/237673277803"><img style='width:40px; border-radius:20px;' class='img-fluid ml-5 mr-2' src="{% static 'assets/img/whatsApp.jpeg' %}" alt="whatsapp">WhatsApp Us</a></em></p><hr class='go'>
            <p>Give us a message with details let us know how we can help you. You can as well give us a
              message on WhatsApp or send us a mail.</p>
            <p>Aso lt us to know what you think about <em>MBINGLO FC</em></p>
          </div>
          <div class="col-md-3 shadow" id="contact">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }} px-4 py-3 rounded"{% endif %} style='background:#74b4fa;color: #061a64; font-size: 1.2rem;'>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="col-md-4 shadow-lg mx-4 mb-1" style="background-color: #010121;">
            <div class="container shadow pb-2" id="contactus" style="background-color: #010121;">
              <form action="" method="post" autocomplete="off" class="fs-4 text-white">
                {% csrf_token %}
                <h3 class="text-center mb-2">Message us</h3>

                <hr class="go">
                <div>
                {{ form|crispy }}
                </div>
                <!--fieldset> <input placeholder="Your name" type="text" name='name' tabindex="1" required> </!--fieldset>
                <fieldset> <input placeholder="Email Address" type="email" name='email' tabindex="2" required> </fieldset>
                <fieldset--> <!--input placeholder="Phone Number" name='number' type="tel" tabindex="3" required> </fieldset>
                <!--fieldset> <textarea placeholder="Type your message here..." name='message' tabindex="5" required></textarea>
                </fieldset-->
                <!--button name="submit" type="submit" id="contactus-submit" data-submit="...Sending"><i
                      id="icon" class=""></i> Send Now</!--button-->
                <button type="submit" class="btn btn-outline-primary text-white form-control">Send</button>
              </form>
              <!--Messages from backend-->
            </div>
          </div>
        </div>
      </div>
      </div>
    </section><br>
    <!--end of contact-->

    <!--Live chat section-->
    <section>
      <button style="z-index: 1000;" class="open-button" onclick="openForm()"><img class="img-fluid livechat" src="{% static 'assets/img/livechat.jpg' %}"
          alt="Live chat"></button>

      <div class="chat-popup shadow" style="z-index: 2000;" id="myForm">
        <form action="#" class="form-container" method='post'>
          {% csrf_token %}
          <h4 class="text-white text-center"><em>Welcome to Live Chat</em></h4>
          <p class="text-white fs-1">Our agent is not available right now! Please leave us a message and we will get back to you.</p>
          <label for="msg"></label>
          <textarea placeholder="Type message....." name="message2" rows="4" required></textarea>
          <button type="submit" class="btn text-white">Send</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
    </section>
    <!--End of Live chat section-->


    <!--Footer section-->
    <section class="" style="background-color: #02023e;">
      <div class="container mt-4 justify-content-start pt-2 px-2">
        <div class="row shadow text-white px-4 pt-4 pb-3 mt-1 mb-3 justify-content-start" style="background-color: #01011f;">
          <div class="col-md-3 justify-content-start">
            <h3>Football<br></h3>
            <p><em>MBINGLO FC</em></p>
            <p>Bamenda-Cameroon</p>
          </div>
          <div class="text-start col-md-3">
            <h3>Our Socials Profile</h3>
            <ul class="list justify-content-lg-start">
              <li><a href=""><img style='width:30px; border-radius:15px;' class='img-fluid m-2' src="{% static 'assets/img/facebook.png' %}" alt="facebook"></a>Facebook</li>
              <li><a href=""><img style='width:30px; border-radius:5px;' class='img-fluid m-2' src="{% static 'assets/img/download.png' %}" alt="twitter"></a>Twitter</li>
              <li><a href="https://wa.me/237673277803" target='_blank'><img style='width:30px; border-radius:15px;' class='img-fluid m-2' src="{% static 'assets/img/whatsApp.jpeg' %}" alt="whatsapp"></a>WhatsApp</li>
              <!--li><a href="mailto:ndzelenromarick@gmail.com" target='_blank'><img style='width:30px; border-radius:15px;'class='m-2' src="{% static 'assets/img/email.png' %}" alt=""></a></li-->
            </ul>
          </div>
          <div class="col-md-3">
            <h4><em>Our Team</em></h4>
            <p>CEO:</p>
            <p>Manager:</p>
            <p>Director:</p>
          </div>
          <div class="col-md-3">
            <h4><em>Useful links</em></h4>
            <ul class="list text-white">
              <li><a class="text-white" href="#about">About</a></li>
              <li><a class="text-white" href="#blog">Blog</a></li>
              <li><a class="text-white" href="#matches">Matches</a></li>
              <li><a class="text-white" href="#result">Results</a></li>
              <li><a class="text-white" href="/profile">Profile</a></li>
              <li><a class="text-white" href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="row fixed-bottom" style="background-color: #030550;">
          <div class="col-md-12 col-lg-11 text-white text-center justify-content-center pt-1">
            <div class="row">
              <div class="col-md-6">
                <p><em>CopyRight 2023! All Right Reserved</em></p>
              </div>
              
              <div class="col-md-6">
                <p>About Developer: <a class="text-danger font-weight-bold" href="https://wa.me/237673277803">BRoTech</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
  </body>

</html>
